.col-3 {
    width: 25%;
}
.pr-4 {
    padding-right: 24px!important;
}
.form-group .form-control {
    width: 440px;
    max-width: 100%;
    margin-right: 5px;
    background-color: #fafbfc;
}
body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 14px;
    line-height: 1.5;
    color: #24292e;
    background-color: #fff;
}
.page-content {
    padding-top: 20px;
}
.container {
    width: 980px;
    margin-right: auto;
    margin-left: auto;
}
.menu {
    margin-bottom: 15px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #d1d5da;
    border-radius: 3px;
}
.menu-heading {
    display: block;
    padding: 8px 10px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    color: #586069;
    background-color: #f3f5f8;
    border-bottom: 1px solid #e1e4e8;
}
.menu-heading:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.menu-item {
    position: relative;
    display: block;
    padding: 8px 10px;
    border-bottom: 1px solid #e1e4e8;
    margin: 8px 10px;
}
.menu-item.selected:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    content: "";
    background-color: #e36209;
}
.selected {
    font-weight: 600;
    color: #24292e;
    cursor: default;
    background-color: #fff;
}

.float-left {
    float: left!important;
}
.col-9 {
    width: 75%;
}
* {
    box-sizing: border-box;
}

.Subhead-heading {
    font-size: 24px;
    font-weight: 400;
    flex: 1 1 auto;
}
.Subhead {
    display: flex;
    padding-bottom: 8px;
    margin-bottom: 16px;
    border-bottom: 1px solid #e1e4e8;
    flex-flow: row wrap;
}