<div class="page-content container">
    <div class="col-3 float-left pr-4">
        <nav class="menu" aria-label="Personal settings" data-pjax="">
            <h3 class="menu-heading">
                Personal settings
            </h3>
            <a [routerLink]="['/user']" class="selected menu-item">Profile</a>
            <a [routerLink]="['/user/security']" class="menu-item">Security</a>
            <a  *ngIf="user" [routerLink]="['/user/my/causes', user?.id]" class="menu-item">My Causes</a>
            <a *ngIf="user" [routerLink]="['/user/attend/causes', user?.id]" class="menu-item">Causes I Attend</a>
        </nav>
    </div>
    <div class="col-9 float-left">
        <div class="Subhead">
            <h2 class="Subhead-heading">Change password</h2>
        </div>
        <!-- Change Password -->
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="oldPassword">Old Password</label>
                <input type="password" formControlName="oldPassword" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }" />
                <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.oldPassword.errors.required">
                        <font color="red">Old password is required</font>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="newPassword">New Password</label>
                <input type="password" formControlName="newPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" />
                <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.newPassword.errors.pattern">
                        <font color="red">Password must contain one number and one uppercase and lowercase letter, and
                            at least 6 or more characters</font>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="newPasswordConfirm">Confirm new password</label>
                <input type="password" formControlName="newPasswordConfirm" class="form-control"
                    pattern="{{ f.newPassword.value }}"
                    [ngClass]="{ 'is-invalid': submitted && f.newPasswordConfirm.errors }" />
                <div *ngIf="f.newPasswordConfirm.invalid && (submitted || f.newPassword.touched )"
                    class="invalid-feedback">
                    <div *ngIf="f.newPasswordConfirm.errors.required">
                        <font color="red">Confirm password is requried</font>
                    </div>
                    <div *ngIf="f.newPasswordConfirm.errors.pattern">
                        <font color="red">Password and confirm password does not match</font>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Update password</button>
                <img *ngIf="loading" class="pl-3"
                    src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </div>
        </form>
    </div>
</div>