<div class="container">
        <section id="main-section">
                  <div class="prod-teaser-content">
                    <img [src]="getImage(cause?.photoPath)" width="270" height="246"/>
                    <h3 class="prod-content-title">{{ cause?.name }}</h3>
                    <h4 class="prod-content-desc">{{ cause?.description }}</h4>
                    <h4 class="prod-content-date"><fa-icon icon="calendar-alt"></fa-icon> {{ cause?.time * 1000 | date:'yyyy-MM-dd'}}</h4>
                    <h4 class="prod-content-location"><fa-icon icon="map-marked-alt"></fa-icon>  {{ cause?.location }}</h4>
                    <div>
                        <button type="button" class="btn colors-btn" (click)="attendToCause()"> <fa-icon icon="hand-holding-heart"></fa-icon> Участвай </button>
                    </div>
                  </div>
        </section>
        <section id="comments" class="body">
          <header>
            <h2>Коментари</h2>
          </header>
            <ul>
                <li *ngFor="let comment of alreadyMadeComments">
                  <header>
                    <h1> {{ comment.content }}</h1>
                    <h1>{{ comment.owner }}</h1>
                  </header>
                </li>
                <div class="add-comment">
                  <input class="comment-input form-control" type="text" [(ngModel)]="comment" placeholder="Add Comment..."/>
                  <button class="btn" (click)="addComment()">Коментирай</button>
                </div>
              </ul>
        </section>
      </div>