.form-wrapper {
    max-width: 40%;
    margin: 100px auto;
    padding: 20px 30px;
    background-color: #f2fbff;
    border-radius: 15px;
    border: 2px solid grey;
}
.form-wrapper h2 {
    text-align: center;
}

.form-group {
    padding: 10px 5px;
}
.form-group .btn-block{
    position: relative;
    max-width: 50%;
    margin: 10px auto;
    font-size: large;
    color: #f2fbff;
    font-weight: bold;
}
.form-group .btn-link{
    display: inline-block;
    float: right;
    padding: 10px 15px;
}

.quote {
    font-family: Impact;
    text-align: center;
    font-size: 50px;
}