<!-- <h1 style="margin: 0">Causes</h1> -->
<!--Navbar-->

<body>
  <header>
    <div class="container">
      <div id="branding">
        <h1><span class="highlight">Givers</span></h1>
      </div>
      <nav>
        <ul>
          <li><button type="button" [routerLink]="['/cause']">
              <fa-icon icon="plus-circle"></fa-icon> Създай нова кауза
            </button></li>
          <li><button type="button" [routerLink]="['/user']">
              <fa-icon icon="users-cog"></fa-icon> Профил
            </button></li>
          <li><button (click)="recommend()">
              <fa-icon icon="star"></fa-icon> Препоръчани каузи
            </button>
          </li>
          <li><button (click)="logout()" [routerLink]="['/login']">
              <fa-icon icon="power-off"></fa-icon> Изход
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <!--/.Navbar-->
  <div class="container">
    <section id="main-section">
      <div class="container">
        <span *ngFor="let entry of causes | async">
          <li class="prod-teaser">
            <div class="prod-teaser-content">
              <img [src]="getImage(entry)" width="270" height="246"/>
              <h6 class="prod-teaser-content-title">{{ entry.name }}</h6>
              <h6 class="prod-teaser-content-title"><fa-icon icon="calendar-alt"></fa-icon> {{ entry.time * 1000 | date:'yyyy-MM-dd'}}</h6>
              <h6 class="prod-teaser-content-title"> <fa-icon icon="map-marked-alt"></fa-icon>  {{ entry.location }}</h6>
              <h6 class="prod-teaser-content-title">Участници: {{ entry.participantIds?.length }}</h6>
              <h6 class="prod-teaser-content-title">Коментари: {{ entry.commentIds?.length }}</h6>
              <div>
                  <button type="button" class="btn colors-btn" (click)="attendToCause(entry)"> <fa-icon icon="hand-holding-heart"></fa-icon> Участвай </button>
              </div>
              <div>
                <button type="button" class="btn colors-btn" (click)="goToCommentDetails(entry)"> Виж повече </button>
              </div>
            </div>
          </li>
        </span>
      </div>
    </section>
  </div>
</body>